html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --mainColor:rgb(9, 10, 94);
    --mainColor2:rgb(40, 7, 132);
    --textColor1:antiquewhite;
    --textColor2:rgb(99, 77, 47);
    --maintextColor:rgb(20, 147, 147);
    --maintextColor2:rgb(108, 126, 126);
    --maintextColor3:rgb(9, 26, 26);
    --mainTransition: 1s;
}
body{
    background: var(--mainColor);
}
/* .sticky{
    position: fixed;
    top: 0;
    width: 100%;
} */
.closebtn{
    opacity: 0;
}
.openin{
    opacity: 0;
}
.main_page{
   margin: auto;
   width: 100%;
   position: relative;
   height: 100%;
   /* overflow-y: none; */
}
.nav_container{
    width: 100%;
    color:rgb(108, 126, 126);
    background-color: black;
    
}
.my_logo{
    float: left;
    margin-top:5px;
    font-size: xx-large;
    font-family: cursive;
    font-style: italic;
    margin-left: 25px;
    padding: 27px;
    background:rgb(9, 26, 26);
    border-radius: 50%;
}
.first_letter{
    color: rgb(20, 147, 147);
    animation-name: animate_logo1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}
@keyframes animate_logo1{
    0%{color: var(--maintextColor);}
    100%{color: var(--maintextColor1);}
}
.second_letter{
    color:rgb(108, 126, 126);
    animation-name: animate_logo2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes animate_logo2{
    0%{color: var(--maintextColor1);}
    100%{color: var(--maintextColor);}
}
.first1_letter{
    color: rgb(20, 147, 147);
}
.second1_letter{
    color:rgb(108, 126, 126);
}

.nav_content_links{
    float: right;
    opacity: 1;
}
.links_list{
    display: flex;
    list-style-type: none;
    padding:42px;
    margin: 0;
    opacity: 1;
}
.links_list a{
    padding: 14px;
    font-size: small;
    font-weight: bolder;
    font-family: sans-serif;
    color: var(--maintextColor1);
    text-decoration: none;
    transition: var(--mainTransition);
}
.links_list a:hover{
    color:aqua;

}
/* .nav_content_links li::after{
    content: " ";
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: var(--maintextColor2);
    transition: var(--mainTransition);
}
.nav_content_links li:hover::after{
    width: 60%;
} */
.side_socialmedia_icons{
    clear: right;
    margin-left: 7px;
    padding-top: 23%;
    margin-right: 10px;
    /* position: fixed; */
  }
.download_cv{
    margin-top: 3%;
    padding: 15px 15px;
    font-size: large;
    border-radius: 7px;
    background: rgb(9, 26, 26);
    border: none;
    color: var(--maintextColor);
    transition: 1s;
}
.download_cv:hover{
    color: rgb(146, 240, 240);
}

.list_main{
    list-style-type: none;
    text-decoration: none;
}
.list_main a{
    margin-top: 10px;
    padding: 4px 9px;
    text-decoration: none;
     
}
.main_content{
   position: absolute;
   left: 15%;
   top:30%;
   z-index: 3;
}
.my_greetings{
    color: var(--maintextColor);
    font-size: x-large;

}
.note_1{
    color: var(--maintextColor);
}
.my_name{
    color:aliceblue;
    font-size: 5rem;
}
.my_profesion{
    font-size: 4rem;
    color: var(--maintextColor2);
}
.short_description{
    font-size: 20px;
    color: var(--maintextColor2);
}
.main_page_logo{
    position: absolute;
    left: 53%;
    top: 39%;
    font-size: 15rem;
    border-radius: 50%;
    background: rgb(9, 26, 26);
}

/* .decor_media{
    position: absolute;
    border-right: 2px solid var(--maintextColor); 
    border-top: 2px solid var(--maintextColor);
    border-left: 2px solid var(--maintextColor); 
    border-bottom: 2px solid var(--maintextColor);
    font-size: large;
    width: 3%;
    height: 29%;
    top: 72%;
    left: 8px;
    z-index: -1;
    background: rgb(9, 26, 26);
    margin-left: -3px;
} */
.fa-facebook{
    color: whitesmoke;
    font-size: 2rem;
}
.fa-twitter{
    color:whitesmoke;
}
.fa-linkedin{
    color: var(--maintextColor);
}
.fa-github{
   
    color: whitesmoke;
}
.fa-gitlab{
    color: rgb(188, 34, 34);
}

@media  screen and (max-width: 480px) {
   
    .decor_media{
        opacity: 0;
    }
    .side_socialmedia_icons{
        opacity: 0;
    }
    .my_logo{
        float: left;
        font-size: small;
        font-family: cursive;
        font-style: italic;
        margin-left: 30px;
        padding: 20px;
        /* background:rgb(9, 26, 26); */
        border-radius: 50%;
        border: none;
        margin-top: 22px;
    }
    .main_page_logo{
        opacity: -1;
    }
    .first_letter{
        font-size: large;
    }
    .second_letter{
        font-size: large;
    }
    .my_name{
        font-size: 50px;
        
    }
    .short_description{
        font-weight: bold;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .main_page2{
        height: 50%;
    }
    .my_profesion{
        font-size: 3rem;
    }

    .nav_container{
        background-color: aliceblue;
    }
    .download_cv{
        margin-top: 2%;
    }
    /* .my_logo{
        margin-top: 5%;
        margin-left: 30%;
    } */
    .main_content{
        top: 30%;
    }
    .openin{
        opacity: 1;
        font-size: 3rem;
        z-index: 3;
        /* right: 0; */
        position: absolute;
        top: 0;
        margin-top: 13px;
        margin-left: 300px;
        color: rgb(18, 153, 153);
        
    }
    .nav_content_links{
        right: 0;
        width: 0;
        position: fixed;
        background-color: aquamarine;
        height: 40%;
        z-index: 1;
        top: 0;
        background-color: aliceblue;
        transition: 2s;
    }
    .links_list{
        display: block;        
    }
.links_list a{
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    padding: 20px 20px 20px 20px
}
  
}
/*-------------MAIN_PAGE2----------*/
.main_page2{
    margin: auto;
    padding-top: 100px;
    width: 100%;
    position: relative;
    height: 100vh;
}

.center_content{
    
    left: 15%;
}
.tab button:hover{
    border-left:3px solid rgb(216, 0, 0);
    border-bottom:1px solid rgb(216, 0, 0);
    color: var(--maintextColor);
}
.tab button.active{
    border-bottom:2px solid rgb(5, 144, 24);
    color: var(--maintextColor);
}

.tab {
    width: 30%;
    height: 300px;
    position: absolute;
    left: 15%;
    top: 35%;
  }
  
  /* Style the buttons inside the tab */
   .tab button {
    display: block;
    padding: 22px 50px;
    width: 50%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
     /* transition: 0.3s; */
    /* font-size: 17px;  */
     background: var(--mainColor);
    border-left: 3px solid var(--maintextColor2);
    transition: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: var(--maintextColor2); 
   } 
  
  /* Change background color of buttons on hover */
  
  /* Create an active/current "tab button" class */
  
  /* Style the tab content */
   .tabcontent {
    padding: 0px 12px;
    border: 2px solid var(--maintextColor);
    width: 37%;
    height: 240px;
    position: absolute;
    left: 35%;
    top: 35%;
    border-style: dotted;
    color: var(--maintextColor2);
    font-size: 20px;
  }
  .spice{
    color: var(--maintextColor);
  }
  .tab_description h4{
    font-family: cursive;
  }
  .fa{
    font-size: small;
    font-weight: lighter;
    color: var(--maintextColor);
  }
  .heding{
    color: var(--maintextColor2);
  }
  .side_content{
    position: absolute;
    top: 10%;
    left: 35%;
    display: flex;
   
  }
  .count_no{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--maintextColor);
    /* position: absolute;
    top: -50%; */
  } 
.link_name{
    margin-left: 100px;
    margin-top: 4%;
    color: var(--maintextColor2);
}
.image_pic{
    position: absolute;
    right: 0;
    top: 225px;
    margin-right: 65px;
    animation-name: animate_pic;
    animation-iteration-count: infinite;
    animation-duration: 10s;
 } 
  @keyframes animate_pic{
    0%{transform: rotate(0deg); filter: brightness(100%);}
    25%{transform: rotate(20deg);}
    50%{transform: rotate(0);}
    75%{transform: rotate(-20deg);}
    100%{transform: rotate(-15);}
 }
 .image_pic img{
     width: 200px;
     height: 240px;
     object-fit: cover;
     border-radius: 5px;
     filter: brightness(30%);
     transition: 1s;
     animation-name: animate_pic1;
     animation-iteration-count: infinite;
     animation-duration: 10s;
 }
  @keyframes animate_pic1{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(5deg);}
    50%{transform: rotate(0); filter: brightness(50%)}
    75%{transform: rotate(5deg);}
    100%{transform: rotate(2deg);}
 } 
 .image_pic img:hover{
    filter: brightness(80%);

 } 
 